name: Get weather data every 24 hours

on:
  schedule:
    - cron: "0 22 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Get 24hr weather data
        env: 
          TELEGRAM_API_KEY: ${{ secrets.TELEGRAM_API_KEY }}
          BOT_OWNER_ID: ${{ secrets.BOT_OWNER_ID }}
        run: python get_weather_data.py --task 24h